<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARKIM</title>
    <link rel="stylesheet" href="../static/PARKIM_PART_B.css">
    <script defer src="../static/PARKIM_JS.js"></script>
   
    
<body>
    <header class= "container-fluid">
        <div class= "container">
        
            <img id = "logo" src="../static/images/לוגו לבן.png" >
            <nav>
                <a href = "index.html">Home Page</a>
                
            </nav>
        </div>
    </header> 

    <div class= strip container-fluid>
        <div class= "container">
            <div>
            <h1 id = middle>LET'S GET STARTED!</h1>
            <p1 id = paramiddle>Ready to find partenrs for your favorite activity?</p1>
            <div>
                <a href = "checkformember.html">
                <button id = button1 onclick ="hidebutton(this)">Press Here
                </button></a>
                <!-- <script src="PARKIM_JS.js"></script>  -->
            </div>
            
            </div>
            
        </div>  
        
    </div> 
    
 
    
</body>
</html>